@keyframes moveInLeft{
	0%{
		opacity: 0;
		transform: translateX(-100px) rotate(5deg) rotate(-3deg);

	}
	80%{
		transform: translateX(20px);
	}

	100%{
      opacity: 1;
      transform: translate(0);
	}
}

@keyframes glitch2 {
	0% { 
		opacity: 0.2; 
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	33%, 100% { 
		opacity: 0;
		transform: translate3d(0,0,0);
	}
}
@keyframes logo{
	0%{
		transform: translate(0);
	}
	40%{
		transform: rotate(360deg);
	}
}
@keyframes fadein{
	0%{
		opacity: 0%;

	}
	50%{
		opacity: 0%;
	}
	99%{
		opacity:100%;
		transform: translateZ(100px);

	}
}
@keyframes moveInRight{
	0%{
		opacity: 0;
		transform: translateX(100px) rotate(5deg) rotate(-3deg);

	}
	80%{
		transform: translateX(-20px);
	}

	100%{
      opacity: 1;
      transform: translate(0);
	}

}
@keyframes animate
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 5px 0;
	}
	20%
	{
		background-position: -5px 0;
	}
	30%
	{
		background-position: 15px 0;
	}
	40%
	{
		background-position: -5px 0;
	}
	50%
	{
		background-position: -25px 0;
	}
	60%
	{
		background-position: -50px 0;
	}
	70%
	{
		background-position: 0 -20px;
	}
	80%
	{
		background-position: -60px -20px;
	}
	81%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 0 0;
		filter: hue-rotate(360deg);
	}
}
